*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    padding:16px;

}
header nav>a{
    margin:16px;
    text-decoration: none;
    color:black;
}
header nav>a:hover{
    text-decoration: underline;
    background-color:pink;
    padding:8px;
}
header nav>a:visited{
    color:rgb(123, 54, 65);
}

table,th,td{
    border: 1px solid rgb(7, 0, 0);
    text-align: center;
    padding:6px

}
.container{
    padding:16px;
    
}
.container> section>h1{
    text-align: center;
    color:palevioletred

}

.intro{
    
    padding:16px;
    background-color: black;
    color:rgb(251, 245, 246);
    text-align: center;
}


body{
    margin:0px;
    font-family: 'Times New Roman', Times, serif;
    color:black
}
*{
    font-size: 18px;
    margin:10px;
}
.dynamic-text-color{
    color:pink
}
.intro img{
border-radius: 30px;
}
footer{
    padding:16px;
    text-align: center;
    border-top: solid;
}